* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Share code */
.fix-width {
    max-width: 1170px;
    margin: 0 auto;
}

.bg-primary {
    background-color: #fff4e7;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.btn-primary {
    padding: 20px 24px;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    margin-bottom: 25px;
}

img {
    max-width: 100%;
}

main>section {
    margin-top: 130px;
}

/* Hover part */

.btn-primary:hover {
    background-color: #727272;
    color: #131313;
}

/* Header Section */
.navbar {
    justify-content: space-between;
    align-items: center;
    height: 98px;
    margin: 0 auto;
}

.menu-item {
    gap: 20px;
}

.menu-item li {
    list-style: none;
}

.menu-item li a {
    text-decoration: none;
    color: #424242;
}

.hero-articale {
    text-align: center;
    width: 800px;
    margin: 0px auto;
}

.hero-articale h1 {
    font-size: 4rem;
    color: #131313;
    margin-top: 50px;
}

.hero-articale p {
    color: #727272;
    font-size: 16px;
    line-height: 1.25rem;
    padding: 25px 0px;
    font-weight: 400;
}

.hero-img img {
    margin: 20px 0;
}


/* feature-section */

.feature-items {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.feature-item-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}

.feature-item-img img {
    max-width: 100%;
}

.feature-item-content {
    width: 550px;
}

.feature-item-content p {
    color: #727272;
    font-size: 1rem;
    line-height: 22px;
    margin: 12px 0px;
}

.feature-heading .Quick-list {
    color: #727272;
    font-size: 45px;
}

.feature-heading .of-Our {
    color: #131313;
    font-size: 45px;
}

.feature-heading .Features {
    color: #FF900E;
    font-size: 45px;
}

/* card-section */


.card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.card-header h1 {
    font-size: 3rem;
    width: 460px;
    color: #131313;
}

#card-title {
    border-left: 2px solid #FF900E;
    margin-right: 20px;
}

.card-header p {
    font-size: 16px;
    color: #727272;
    line-height: 1.5rem;
    margin: 20px 0;
}

.card-item {
    padding: 24px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 460px;
}

.card-item h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 8px 0;
}

.card-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.24rem;
}

.card-img-btn {
    padding: 42px 45px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    margin-left: -56px;
    margin-top: -100px;
}


/* fact-section */

.fact-title {
    width: 540px;
}

.fact-title h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #131313;
}

.fact-title p {
    font-size: 16px;
    font-weight: 700;
    color: #727272;
    line-height: 1.5rem;
}

.fact-item {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.fact-item-wrap {
    text-align: center;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.fact-item-wrap p {
    margin: 10px 0px;
    font-size: 16px;
    color: #727272;
    font-weight: 600;
}

.f-icon {
    margin-bottom: 20px;
}

/* support-section */

.support-wrap {
    text-align: center;
}

.s-heading {
    width: 540px;
    margin: 0 auto;
    text-align: center;
}

.s-heading h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.s-heading p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #727272;
}

.s-sponsor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.s-img img {
    filter: grayscale(100%);
}
/* footerc Section */

.footer-text {
    text-align: center;
}
.footer-text h1 {
    text-align: center;
    margin: 30px 0px;
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 40px 0px;
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}







@media screen (max-width: 576px) {}